html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    user-select: none;
}

#nside{
    width: 20%;
    background-color: #f0f0f0;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#sidebar {
    flex:1;
    overflow-y: auto;
}

#main-content {
    flex: 1;
    padding: 0px;
    position: relative;
}

.droppable {
    min-height: 100px;
    width: 100%;
    padding: 20px;
    position: relative;
}

.draggable {
    position: absolute;
}

#elements {
    width: 100vw;
    position: absolute;
    display: inline-block;
}

#empty {
    position: absolute;
    display: inline-block;
}

#searchfield {
    width: 100%;
    height:3vh;
    margin: 10px 0;
    background: none;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
}

#searchfield:focus {
    outline: none;
    border-bottom: 3px solid white;
    /* color: white; */
}

::-webkit-input-placeholder {
    /* color: white; */
    font-weight: bold;
}

:-moz-placeholder {
    /* Firefox 18- */
    /* color: white; */
    font-weight: bold;
}

::-moz-placeholder {
    /* Firefox 19+ */
    /* color: white; */
    font-weight: bold;
}

:-ms-input-placeholder {
    /* color: white; */
    font-weight: bold;
}

#hint {
    pointer-events: none;
    opacity: 80%;
    margin-top:20px;
}

.listel {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .5rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }

.draggable:hover {
box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
transform: translate3d(0, 2px, 0);
}

.draggable:focus {
box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.draggable:disabled {
    pointer-events: none;
}